{% load static %}

<link href="{% static 'stock/mdb5-free-standard/css/mdb.min.css' %}" rel="stylesheet" type="text/css"/>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <body>
    <!-- header -->
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
              <button
                class="navbar-toggler"
                type="button"
                data-mdb-toggle="collapse"
                data-mdb-target="#navbarExample01"
                aria-controls="navbarExample01"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <i class="fas fa-bars"></i>
              </button>
              <div class="collapse navbar-collapse" id="navbarExample01">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item active">
                    <a class="nav-link" aria-current="page" href="{% url 'stock:index' %}">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'stock:stock_list' %}">Items in Stock</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'stock:stock_sell_list' %}">Sell Analysis</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Reports</a>
                  </li>
                </ul>
              </div>
            </div>
        </nav>
    </header>

    <div class="d-flex mt-3 table-responsive p-3" style="height: 33rem;">
        {% if sell_item %}
          <div class="table-responsive">
            <table class="table caption-top bg-secondary text-light table-hover table-borderless overflow-y-scroll">
              <caption>
                <h3 class="text-center">Daily Items Sale Report Section</h3>
              </caption>
              <thead class="table-dark">
                  <tr>
                      <th scope="col">Item</th>
                      <th scope="col">Name</th>
                      <th scope="col">Category</th>
                      <th scope="col">Quantity</th>
                      <th scope="col">Acquisition Price</th>
                      <th scope="col">Sell Price</th>
                      <th scope="col">On Discount</th>
                      <th scope="col">Discount Percentage</th>
                      <th scope="col">Supplier</th>
                      <th scope="col">Arrival Date</th>
                      <th scope="col">Latest Modified Date</th>
                      <th scope="col">Sold</th>
                  </tr>
              </thead>
              <tbody>
                  {% for item in sell_item %}
                      <tr class="item">
                          <th scope="row">{{ item.id }}</th>
                          <td>{{ item.name }}</td>
                          <td>{{ item.category }}</td>
                          <td>{{ item.quantity }}</td>
                          <td>{{ item.acquisition_price }}</td>
                          <td>{{ item.sell_price }}</td>
                          <td>{{ item.discount }}</td>
                          <td>{{ item.discount_percentage }}</td>
                          <td>{{ item.supplier }}</td>
                          <td>{{ item.created_at }}</td>
                          <td>{{ item.modified_at }}</td>
                          <td>
                            <div class="container">
                              <form class="table-responsive" action="{% url 'stock:stock_sell_analysis' item.id %}" method="post">
                                {% csrf_token %}
                                <div class="input-group">
                                  <div class="form-outline">
                                    <input type="text" class="form-control" name="sold" style="width: 3rem;" value="{{ item.sold_quantity }}" required>
                                  </div>
                                  <button type="submit" class="btn btn-primary">Confirm</button>
                                </div>
                              </form>
                            </div>
                          </td>
                      </tr>
                  {% endfor %}
              </tbody>
            </table>
            <div class="col-12 text-center mt-2">
              <form action="#">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="csv" id="inlineRadio1" value="option1" />
                  <label class="form-check-label" for="inlineRadio1">csv</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="pdf" id="inlineRadio2" value="option2" />
                  <label class="form-check-label" for="inlineRadio2">pdf</label>
                </div>
                <div class="col-12 text-center mt-2">
                  <button type="submit" class="btn btn-primary">Generate Report</button>
                </div>
              </form>
            </div>
          </div>
        {% else %}
            <p>Empty Stock. Please add items.</p>
        {% endif %}
    </div>
    <script src="{% static 'stock/mdb5-free-standard/js/mdb.min.js' %}"></script>
  </body>
</html>